@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ea1919;
  }
}

@Layer utilities {
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce {
  animation: bounce 4s infinite;
}
@keyframes blink {
  from {
    opacity: 1;
    transform: translate(0, 100px);
    backdrop-filter: blur(33px);
  }
  to {
    opacity: 0;
    transform: translate(0);
    backdrop-filter: blur(0);
  }
}
.animate-blink {
  animation: 'blink 1s ease-in-out 1s 1 forwards';
}
@keyframes blinks {
  from {
    opacity: 1;
    transform: translate(-100px, 0);
    backdrop-filter: blur(33px);
  }
  to {
    opacity: 0;
    transform: translate(0, 0);
    backdrop-filter: blur(0);
  }
}
.animate-blinks {
  animation: 'blinks 1s ease-in-out 0.1s 1 forwards';
}
@keyframes blinkss {
  from {
    opacity: 1;
    transform: translate(100px, 0);
    backdrop-filter: blur(33px);
  }
  to {
    opacity: 0;
    transform: translate(0, 0);
    backdrop-filter: blur(0);
  }
}
.animate-blinkss {
  animation: 'blinkss 1s ease-in-out 0.1s 1 forwards';
}
@keyframes blinkss {
  from {
    opacity: 1;
    transform: translate(100px, 0);
    backdrop-filter: blur(33px);
  }
  to {
    opacity: 0;
    transform: translate(0, 0);
    backdrop-filter: blur(0);
  }
}
.animate-blinksss {
  animation: 'blinkss 1s ease-in-out 1s 1 forwards';
}
@keyframes blinkss {
  from {
    opacity: 1;
    transform: translate(100px, 0);
    backdrop-filter: blur(33px);
  }
  to {
    opacity: 0;
    transform: translate(0, 0);
    backdrop-filter: blur(0);
  }
}
.animate-blinkss {
  animation: 'blinkss 1s ease-in-out 2s 1 forwards';
}
.spinner {
  width: 3em;
  height: 3em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
  animation: rot55 5s linear  infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
